html,body{
    height: 100%;
    font-family:"Lucida Sans Unicode","Lucida Sans","Lantinghei SC","Hiragino, Sans BG","STHeiti","Microsoft YaHei", sans-seif;
    background: #000;
    font-size: 14px;
}
section a{
    color: white;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10em;
    height: 10em;
    text-align: center;
    line-height: 10em;
    border-radius: 5em;
}
section a i,section a img{
    vertical-align: middle;
}
section a img{    
    width: 100%;
    height: 100%;
}